Django==1.6.2
South==0.8.4
astroid==1.0.1
coverage==3.7.1
decorator==3.4.0
distribute==0.6.10
-e git://github.com/joestump/django-ajax@42c5ad042c543ff2bf66e22b2774581d01cc1c89#egg=django_ajax-dev
django-braces==1.4.0
django-crispy-forms==1.4.0
django-jenkins==0.15.0
ethtool==0.6
gunicorn==18.0
iniparse==0.3.1
iwlib==1.0
logilab-common==0.61.0
meld3==0.6.10
pycurl==7.19.0
pygpgme==0.1
pylint==1.1.0
six==1.6.1
superlance==0.9
supervisor==3.0
unittest2==0.5.1
urlgrabber==3.9.1
virtualenv==1.11.4
wsgiref==0.1.2
yum-metadata-parser==1.1.2
