{% extends "healthy_salad_chooser/base.html" %}
 
{% block title %}Salad Selector{% endblock %}

{% block css_include %}
{{ block.super }}

{% endblock %}

{% block js_include %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>{{ user.username }}'s Saved Salads</h1>
<div class="col-sm-6">
	<ul class="list-group">
		{% for object in object_list %}
		<li class="list-group-item">
			{{ object }}
		</li>
		{% empty %}
		<li class="list-group-item">
			You have no saved salads
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}